<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estate Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Estate Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/inquiry/list/}">Inquiry List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/externalAgency/list/}">Agency List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1> Registered Users and Wasiats </h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate through users -->
            <tr th:each="pewaris: ${pewarisList}">
                <td th:text="${pewaris.name}"></td>
                <td th:text="${pewaris.email}"></td>
                <td>
                    <a th:href="@{/admin/deletePewaris/{id}(id=${pewaris.id})}" class="btn btn-danger" onclick="return confirm('Delete this user?')">Delete</a>
                    |<a th:href="@{/admin/pewarisDetail/{id}(id=${pewaris.id})}" class="btn btn-light">Details</a>
                    |<a th:href="@{/admin/pewarisProperty/{id}(id=${pewaris.id})}" class="btn btn-light">Property</a>
                    |<a th:href="@{/admin/pewarisHeirs/{id}(id=${pewaris.id})}" class="btn btn-light">Heirs</a>
                    |<a th:href="@{/admin/pewarisWasiat/{id}(id=${pewaris.id})}" class="btn btn-light">Wasiat</a></td>
            </tr>
         
        </tbody>


            
    </table>
</div>

</body>
</html>