<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duplicate IC Error</title>
</head>
<body>
    <h1>Error: Duplicate IC</h1>
    <p>There is a duplicate IC number in the provided details. Please make sure each IC number is unique.</p>
    <!-- You can add more content or styling based on your needs -->
</body>
</html>
