<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estate Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Estate Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our app!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                    <!--<div class="form-group mb-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Enter first name"
                               th:field="*{firstName}"
                               type="text"
                        />
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Enter last name"
                               th:field="*{lastName}"
                               type="text"
                        />
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}">
                        </p>
                    </div>-->
                    <div class="form-group mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control"
                               id="name"
                               name="name"
                               placeholder="Enter name"
                               th:field="*{name}"
                               type="text"
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Identification Number</label>
                        <input class="form-control"
                               id="IDNum"
                               name="IDNum"
                               placeholder="Enter ID Number"
                               th:field="*{IDNum}"
                               type="text"
                        />
                        <span th:if="${#fields.hasErrors('IDNum')}" class="text-danger" th:errors="*{IDNum}"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="IDType">Identification Type</label>
                        <select class="form-control" id="IDType" name="IDType" th:field="*{IDType}">
                            <option value="">Choose</option>
                            <option value="New IC">New IC</option>
                            <option value="Old IC">Old IC</option>
                            <option value="Police Number">Police Number</option>
                            <option value="Army Number">Army Number</option>
                        </select>
                        <p th:errors="*{IDType}" class="text-danger" th:if="${#fields.hasErrors('IDType')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="gender">Gender</label>
                        <select class="form-control" id="gender" name="gender" th:field="*{gender}">
                            <option value="">Choose</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <p th:errors="*{gender}" class="text-danger" th:if="${#fields.hasErrors('gender')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="dob">Date of Birth</label>
                        <input class="form-control"
                               id="dob"
                               name="dob"
                               th:field="*{dob}"
                               type="date"
                        />
                        <p th:errors="*{dob}" class="text-danger" th:if="${#fields.hasErrors('dob')}"></p>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Enter email address"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Address</label>
                        <input class="form-control"
                               id="address"
                               name="address"
                               placeholder="Enter address"
                               th:field="*{address}"
                               type="text"
                        />
                        <p th:errors="*{address}" class="text-danger"
                           th:if="${#fields.hasErrors('address')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="postcode">Postcode</label>
                        <input class="form-control"
                               id="postcode"
                               name="postcode"
                               placeholder="Enter postcode"
                               th:field="*{postcode}"
                               type="text"
                        />
                        <p th:errors="*{postcode}" class="text-danger"
                           th:if="${#fields.hasErrors('postcode')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="statecode">State Code</label>
                        <select class="form-control" id="statecode" name="statecode" th:field="*{statecode}">
                            <option value="">Choose</option>
                            <option value="Perak">Perak</option>
                            <option value="Pulau Pinang">Pulau Pinang</option>
                            <option value="Perlis">Perlis</option>
                            <option value="Pahang">Pahang</option>
                            <option value="Selangor">Selangor</option>
                            <option value="Melaka">Melaka</option>
                            <option value="Negeri Sembilan">Negeri Sembilan</option>
                            <option value="Kelantan">Kelantan</option>
                            <option value="Kedah">Kedah</option>
                            <option value="Terengganu">Terengganu</option>
                            <option value="Johor">Johor</option>
                            <option value="Kuala Lumpur">Kuala Lumpur</option>
                            <option value="Putrajaya">Putrajaya</option>
                            <option value="Labuan">Labuan</option>
                        </select>
                        <p th:errors="*{statecode}" class="text-danger" th:if="${#fields.hasErrors('statecode')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Enter password"
                               th:field="*{password}"
                               type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>

                    

                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a href="/" th:href="@{/login}">Login
                             here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>