<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Wasiat</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      th:fragment="header"
    >
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Estate Management System</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <br />
    <br />
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Update Wasiat</h3>
            </div>
            <div class="card-body">
              <form
                th:action="@{/admin/update}"
                method="post"
                th:object="${wasiat}"
              >
                <div class="mb-3">
                  <input type="hidden" th:field="*{id}" />
                  <label class="control-label"
                    >User ID: <span th:text="*{user.id}"></span
                  ></label>
                </div>
                <div class="mb-3">
                  <label class="control-label"
                    >User Name: <span th:text="*{user.name}"></span
                  ></label>
                </div>

                <div class="mb-3">
                  <label class="control-label"
                    >Jantina:
                    <select class="form-control" th:field="*{gender}">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </label>
                </div>
                <div class="mb-3" th:if="${wasiat.gender == 'lelaki'}">
                  <label class="control-label"
                    >Isteri:
                    <select class="form-control" th:field="*{isteri}">
                      <option value="">pilih</option>
                      <option value="tiada">tiada</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </label>
                </div>

                <label for="wifeNames" th:if="${wasiat.gender == 'lelaki'}">Nama Isteri :</label>
                <div id="wifeNamesContainer" th:if="${wasiat.gender == 'lelaki'}">
                    <div th:each="isteri, iterStat : *{isteriDetails}" class="wifeEntry">
                        <input type="text" th:field="*{isteriDetails[__${iterStat.index}__].name}" placeholder="Name">
                        <input type="text" th:field="*{isteriDetails[__${iterStat.index}__].ic}" placeholder="ID Number">
 
                        <button type="button" onclick="removeWifeNameField(this)">Remove</button>
                    </div>
                </div>

                <button type="button" onclick="addWifeNameField()" th:if="${wasiat.gender == 'lelaki'}">Add Isteri Name</button>

                <div class="mb-3" th:if="${wasiat.gender == 'perempuan'}">
                  <label class="control-label"
                    >Suami:
                    <select class="form-control" th:field="*{suami}">
                      <option value="">pilih</option>
                      <option value="tiada">Tiada</option>
                      <option value="ada">Ada</option>
                    </select>
                  </label>
                </div>

                <label for="husbandNames" th:if="${wasiat.gender == 'perempuan'}">Nama Suami :</label>
                <div id="husbandNamesContainer" th:if="${wasiat.gender == 'perempuan'}">
                    <div th:each="suami, iterStat : *{suamiDetails}" class="husbandEntry">
                        <input type="text" th:field="*{suamiDetails[__${iterStat.index}__].name}" placeholder="Name">
                        <input type="text" th:field="*{suamiDetails[__${iterStat.index}__].ic}" placeholder="ID Number">
 
                        <button type="button" onclick="removeHusbandNameField(this)">Remove</button>
                    </div>
                </div>

                <button type="button" onclick="addHusbandNameField()" th:if="${wasiat.gender == 'perempuan'}">Add Suami Name</button>

              

                <div class="mb-3">
                  <label class="control-label"
                    >Anak Lelaki:
                    <select class="form-control" th:field="*{anakLelaki}">
                      <option value="">pilih</option>
                      <option value="tiada">tiada</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </label>
                </div>

               
                <label for="sonNames">Son Names:</label>
                <div id="sonNamesContainer">
                    <div th:each="anakLelaki, iterStat : *{anakLelakiDetails}" class="sonEntry">
                        <input type="text" th:field="*{anakLelakiDetails[__${iterStat.index}__].name}" placeholder="Name">
                        <input type="text" th:field="*{anakLelakiDetails[__${iterStat.index}__].ic}" placeholder="ID Number">
                
                        <!-- Add select tag for statusAnakLelaki -->
                        <select th:field="*{anakLelakiDetails[__${iterStat.index}__].oku}">
                          <option value="">pilih</option>
                          <option value="ya">ya</option>
                          <option value="tidak">tidak</option>
                            <!-- Add more options as needed -->
                        </select>
                
                        <button type="button" onclick="removeSonNameField(this)">Remove</button>
                    </div>
                </div>
                
                <button type="button" onclick="addSonNameField()">Add Son Name</button>

                <div class="mb-3">
                  <label class="control-label"
                    >Anak Perempuan:
                    <select class="form-control" th:field="*{anakPerempuan}">
                      <option value="">pilih</option>
                      <option value="tiada">tiada</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </label>
                </div>

                <label for="daughterNames">Daughter Names:</label>
                <div id="daughterNamesContainer">
                    <div th:each="anakPerempuan, iterStat : *{anakPerempuanDetails}" class="daughterEntry">
                        <input type="text" th:field="*{anakPerempuanDetails[__${iterStat.index}__].name}" placeholder="Name">
                        <input type="text" th:field="*{anakPerempuanDetails[__${iterStat.index}__].ic}" placeholder="ID Number">
                
                        <!-- Add select tag for statusAnakLelaki -->
                        <select th:field="*{anakPerempuanDetails[__${iterStat.index}__].oku}">
                          <option value="">pilih</option>
                          <option value="ya">ya</option>
                          <option value="tidak">tidak</option>
                            <!-- Add more options as needed -->
                        </select>
                
                        <button type="button" onclick="removeDaughterNameField(this)">Remove</button>
                    </div>
                </div>
                
                <button type="button" onclick="addDaughterNameField()">Add Daughter Name</button>
              
              





                <div class="mb-3">
                  <label class="control-label"
                    >Anak Angkat:
                    <select class="form-control" th:field="*{anakAngkat}">
                      <option value="">pilih</option>
                      <option value="tiada">tiada</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </label>
                </div>

                <label for="adoptNames">Nama Anak Angkat :</label>
                <div id="adoptNamesContainer">
                    <div th:each="anakAngkat, iterStat : *{anakAngkatDetails}" class="adoptEntry">
                        <input type="text" th:field="*{anakAngkatDetails[__${iterStat.index}__].name}" placeholder="Name">
                        <input type="text" th:field="*{anakAngkatDetails[__${iterStat.index}__].ic}" placeholder="ID Number">
                
                        <!-- Add select tag for statusAnakLelaki -->
                        <select th:field="*{anakAngkatDetails[__${iterStat.index}__].oku}">
                          <option value="">pilih</option>
                          <option value="ya">ya</option>
                          <option value="tidak">tidak</option>
                            <!-- Add more options as needed -->
                        </select>
                
                        <button type="button" onclick="removeAdoptNameField(this)">Remove</button>
                    </div>
                </div>

                <button type="button" onclick="addAdoptNameField()">Add Anak Angkat Name</button>

                
                <div class="mb-3">
                  <label class="control-label"
                    >Jumlah Perbelanjaan Keluarga Setiap Bulan:
                    <input
                      class="form-control"
                      type="number"
                      th:field="*{perbelanjaan}"
                    />
                  </label>
                </div>
                <div class="mb-3">
                  <label class="control-label"
                    >Anggaran Nilai Harta:
                    <select class="form-control" th:field="*{anggaran}">
                      <option value="">pilih</option>
                      <option value="kurang">Kurang dari RM2 juta</option>
                      <option value="lebih">Lebih dari RM2 juta</option>
                    </select>
                  </label>
                </div>
                <div class="mb-3">
                  <label class="control-label"
                    >Status Hibah (Ya/Tidak):
                    <select class="form-control" th:field="*{hibah}">
                      <option value="ya">Ya</option>
                      <option value="tidak">Tidak</option>
                    </select>
                  </label>
                </div>
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>

              <script th:inline="javascript">
                var sonCount = /*[[${wasiat.anakLelakiDetails.size()}]]*/ 0;
            
                function addSonNameField() {
                    var sonNamesContainer = document.getElementById('sonNamesContainer');
                    var newSonEntry = document.createElement('div');
                    newSonEntry.className = 'sonEntry';
            
                    var newNameInput = document.createElement('input');
                    newNameInput.type = 'text';
                    newNameInput.name = 'anakLelakiDetails[' + sonCount + '].name';
                    newNameInput.placeholder = 'Name';
            
                    var newIdNumberInput = document.createElement('input');
                    newIdNumberInput.type = 'text';
                    newIdNumberInput.name = 'anakLelakiDetails[' + sonCount + '].ic';
                    newIdNumberInput.placeholder = 'ID Number';
            
                    // Create select element
                    var newStatusSelect = document.createElement('select');
                    newStatusSelect.name = 'anakLelakiDetails[' + sonCount + '].oku';
            
                    // Add options to the select element
                    var activeOption = document.createElement('option');
                    activeOption.value = 'YA';
                    activeOption.text = 'Ya';
            
                    var inactiveOption = document.createElement('option');
                    inactiveOption.value = 'TIDAK';
                    inactiveOption.text = 'Tidak';
            
                    // Add more options as needed
            
                    newStatusSelect.appendChild(activeOption);
                    newStatusSelect.appendChild(inactiveOption);
                    // Append more options as needed
            
                    var removeButton = document.createElement('button');
                    removeButton.type = 'button';
                    removeButton.textContent = 'Remove';
                    removeButton.onclick = function() {
                        sonNamesContainer.removeChild(newSonEntry);
                    };
            
                    newSonEntry.appendChild(newNameInput);
                    newSonEntry.appendChild(newIdNumberInput);
                    newSonEntry.appendChild(newStatusSelect);
                    newSonEntry.appendChild(removeButton);
            
                    sonNamesContainer.appendChild(newSonEntry);
            
                    sonCount++;
                }
            
                function removeSonNameField(button) {
                    var sonNamesContainer = document.getElementById('sonNamesContainer');
                    var sonEntryToRemove = button.parentElement;
                    sonNamesContainer.removeChild(sonEntryToRemove);
                }
            </script>

            <script th:inline="javascript">
              var daughterCount = /*[[${wasiat.anakPerempuanDetails.size()}]]*/ 0;
          
              function addDaughterNameField() {
                  var daughterNamesContainer = document.getElementById('daughterNamesContainer');
                  var newDaughterEntry = document.createElement('div');
                  newDaughterEntry.className = 'daughterEntry';
          
                  var newNameInput = document.createElement('input');
                  newNameInput.type = 'text';
                  newNameInput.name = 'anakPerempuanDetails[' + daughterCount + '].name';
                  newNameInput.placeholder = 'Name';
          
                  var newIdNumberInput = document.createElement('input');
                  newIdNumberInput.type = 'text';
                  newIdNumberInput.name = 'anakPerempuanDetails[' + daughterCount + '].ic';
                  newIdNumberInput.placeholder = 'ID Number';
          
                  // Create select element
                  var newStatusSelect = document.createElement('select');
                  newStatusSelect.name = 'anakPerempuanDetails[' + daughterCount + '].oku';
          
                  // Add options to the select element
                  var activeOption = document.createElement('option');
                  activeOption.value = 'YA';
                  activeOption.text = 'Ya';
          
                  var inactiveOption = document.createElement('option');
                  inactiveOption.value = 'TIDAK';
                  inactiveOption.text = 'Tidak';
          
                  // Add more options as needed
          
                  newStatusSelect.appendChild(activeOption);
                  newStatusSelect.appendChild(inactiveOption);
                  // Append more options as needed
          
                  var removeButton = document.createElement('button');
                  removeButton.type = 'button';
                  removeButton.textContent = 'Remove';
                  removeButton.onclick = function() {
                      daughterNamesContainer.removeChild(newDaughterEntry);
                  };
          
                  newDaughterEntry.appendChild(newNameInput);
                  newDaughterEntry.appendChild(newIdNumberInput);
                  newDaughterEntry.appendChild(newStatusSelect);
                  newDaughterEntry.appendChild(removeButton);
          
                  daughterNamesContainer.appendChild(newDaughterEntry);
          
                  daughterCount++;
              }
          
              function removeDaughterNameField(button) {
                  var daughterNamesContainer = document.getElementById('daughterNamesContainer');
                  var daughterEntryToRemove = button.parentElement;
                  daughterNamesContainer.removeChild(daughterEntryToRemove);
              }
          </script>
           <script th:inline="javascript">
            var adoptCount = /*[[${wasiat.anakAngkatDetails.size()}]]*/ 0;
        
            function addAdoptNameField() {
                var adoptNamesContainer = document.getElementById('adoptNamesContainer');
                var newAdoptEntry = document.createElement('div');
                newAdoptEntry.className = 'adoptEntry';
        
                var newNameInput = document.createElement('input');
                newNameInput.type = 'text';
                newNameInput.name = 'anakAngkatDetails[' + adoptCount + '].name';
                newNameInput.placeholder = 'Name';
        
                var newIdNumberInput = document.createElement('input');
                newIdNumberInput.type = 'text';
                newIdNumberInput.name = 'anakAngkatDetails[' + adoptCount + '].ic';
                newIdNumberInput.placeholder = 'ID Number';
        
                // Create select element
                var newStatusSelect = document.createElement('select');
                newStatusSelect.name = 'anakAngkatDetails[' + adoptCount + '].oku';
        
                // Add options to the select element
                var activeOption = document.createElement('option');
                activeOption.value = 'YA';
                activeOption.text = 'Ya';
        
                var inactiveOption = document.createElement('option');
                inactiveOption.value = 'TIDAK';
                inactiveOption.text = 'Tidak';
        
                // Add more options as needed
        
                newStatusSelect.appendChild(activeOption);
                newStatusSelect.appendChild(inactiveOption);
                // Append more options as needed
        
                var removeButton = document.createElement('button');
                removeButton.type = 'button';
                removeButton.textContent = 'Remove';
                removeButton.onclick = function() {
                    adoptNamesContainer.removeChild(newAdoptEntry);
                };
        
                newAdoptEntry.appendChild(newNameInput);
                newAdoptEntry.appendChild(newIdNumberInput);
                newAdoptEntry.appendChild(newStatusSelect);
                newAdoptEntry.appendChild(removeButton);
        
                adoptNamesContainer.appendChild(newAdoptEntry);
        
                adoptCount++;
            }
        
            function removeAdoptNameField(button) {
                var adoptNamesContainer = document.getElementById('adoptNamesContainer');
                var adoptEntryToRemove = button.parentElement;
                adoptNamesContainer.removeChild(adoptEntryToRemove);
            }
        </script>
        <script th:inline="javascript">
          var wifeCount = /*[[${wasiat.isteriDetails.size()}]]*/ 0;
      
          function addWifeNameField() {
              var wifeNamesContainer = document.getElementById('wifeNamesContainer');
              var newWifeEntry = document.createElement('div');
              newWifeEntry.className = 'wifeEntry';
      
              var newNameInput = document.createElement('input');
              newNameInput.type = 'text';
              newNameInput.name = 'isteriDetails[' + wifeCount + '].name';
              newNameInput.placeholder = 'Name';
      
              var newIdNumberInput = document.createElement('input');
              newIdNumberInput.type = 'text';
              newIdNumberInput.name = 'isteriDetails[' + wifeCount + '].ic';
              newIdNumberInput.placeholder = 'ID Number';
      
              var removeButton = document.createElement('button');
              removeButton.type = 'button';
              removeButton.textContent = 'Remove';
              removeButton.onclick = function() {
                  wifeNamesContainer.removeChild(newWifeEntry);
              };
      
              newWifeEntry.appendChild(newNameInput);
              newWifeEntry.appendChild(newIdNumberInput);
              newWifeEntry.appendChild(removeButton);
      
              wifeNamesContainer.appendChild(newWifeEntry);
      
              adoptCount++;
          }
      
          function removeWifeNameField(button) {
              var wifeNamesContainer = document.getElementById('wifeNamesContainer');
              var wifeEntryToRemove = button.parentElement;
              wifeNamesContainer.removeChild(wifeEntryToRemove);
          }
      </script>

       <script th:inline="javascript">
        var husbandCount = /*[[${wasiat.isteriDetails.size()}]]*/ 0;
    
        function addHusbandNameField() {
            var husbandNamesContainer = document.getElementById('husbandNamesContainer');
            var newHusbandEntry = document.createElement('div');
            newHusbandEntry.className = 'husbandEntry';
    
            var newNameInput = document.createElement('input');
            newNameInput.type = 'text';
            newNameInput.name = 'suamiDetails[' + husbandCount + '].name';
            newNameInput.placeholder = 'Name';
    
            var newIdNumberInput = document.createElement('input');
            newIdNumberInput.type = 'text';
            newIdNumberInput.name = 'suamiDetails[' + husbandCount + '].ic';
            newIdNumberInput.placeholder = 'ID Number';
    
            var removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                husbandNamesContainer.removeChild(newHusbandEntry);
            };
    
            newHusbandEntry.appendChild(newNameInput);
            newHusbandEntry.appendChild(newIdNumberInput);
            newHusbandEntry.appendChild(removeButton);
    
            husbandNamesContainer.appendChild(newHusbandEntry);
    
            husbandCount++;
        }
    
        function removeHusbandNameField(button) {
            var husbandNamesContainer = document.getElementById('husbandNamesContainer');
            var husbandEntryToRemove = button.parentElement;
            husbandNamesContainer.removeChild(husbandEntryToRemove);
        }
    </script>
      
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
